<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="../assets/images/pizza-icon.png" class="img-responsive center-block">
        <p class="justify-content-center mb-md-0 px-2">My Pizza Store</p>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="" routerLinkActive="link-primary" [routerLinkActiveOptions]="{exact:true}" class="nav-link px-2">Menu</a></li>
        <li><a routerLink="/build" routerLinkActive="link-primary" class="nav-link px-2">Build your pizza</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <a class="btn btn-primary me-2" routerLink="/checkout">
            Checkout <span class="badge badge-light">{{ cartService.cartLength() }}</span>
        </a>
    </div>
</header>