<div class="row">
    <div class="col-sm-6 mb-3" *ngFor="let pizza of cartService.order.pizzas">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">{{ pizza.name }}</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="onRemovePizza(pizza)"></button>
                </div>
                <p class="card-text">{{ pizza.ingredients | ingredients }}</p>
                <p class="card-text">Size: {{ pizza.size }}<br>Quantity: {{ pizza.quantity }}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-3" *ngFor="let side of cartService.order.sides">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">{{ side.name }}</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="onRemoveSide(side)"></button>
                </div>
                <p class="card-text">Quantity: {{ side.quantity }}</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end mb-5" *ngIf="cartService.cartLength()">
        <button type="button" class="btn btn-primary mt-2" (click)="onPlaceOrder()">Place Order</button>
    </div>

    <div class="alert alert-success alert-dismissible fade d-flex align-items-center" [ngClass]="orderId ? 'show' : 'hide'" role="alert">
        <div>
            Order number {{ orderId }} received!
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            (click)="onNotificationClose()"></button>
    </div>

</div>