<h2 *ngIf="isCustomization; else buildheading" class="text-center mb-5">Customize Pizza</h2>
<ng-template #buildheading><h2 class="text-center mb-5">Build your own Pizza!</h2></ng-template>

<div class="container w-50">
    <div class="d-flex justify-content-between mb-3">
        <p class="align-self-end">Choose Crust</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" (click)="size = 'small'" [ngClass]="size == 'small' ? 'active' : ''">Small</button>
            <button type="button" class="btn btn-primary" (click)="size = 'medium'" [ngClass]="size == 'medium' ? 'active' : ''">Medium</button>
            <button type="button" class="btn btn-primary" (click)="size = 'large'" [ngClass]="size == 'large' ? 'active' : ''">Large</button>
        </div>
    </div>

    <div class="d-flex justify-content-between mb-3">
        <p class="align-self-end">Choose Sauce</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button *ngFor="let ingredient of allIngredients | sauces"
                type="button" class="btn btn-primary" (click)="sauceId = ingredient.id" [ngClass]="sauceId == ingredient.id ? 'active' : ''">{{ ingredient.name }}</button>
        </div>
    </div>

    <div class="d-flex justify-content-between mb-3">
        <p class="align-self-end">Extra Cheese?</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" (click)="extraCheese = true" [ngClass]="extraCheese ? 'active' : ''">Yes</button>
            <button type="button" class="btn btn-primary" (click)="extraCheese = false" [ngClass]="!extraCheese ? 'active' : ''">No</button>
        </div>
    </div>

    <p>Select Toppings</p>
    <div class="d-flex justify-content-between mb-3">
        <div class="form-check" *ngFor="let ingredient of allIngredients | toppings">
            <input class="form-check-input" type="checkbox" value="" [id]="ingredient.name"
                (click)="onToppingClick($event.target, ingredient.id)"
                [checked]="toppingIds.includes(ingredient.id!)">
            <label class="form-check-label" [for]="ingredient.name">
              {{ ingredient.name }}
            </label>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <p class="card-text green-text"><b>{{ price | rupee }}</b></p>
        <div class="d-flex justify-content-end">
            <p class="me-2">Quantity</p>
            <input type="number" class="form-control w-25 mb-3" placeholder="Quantity" min="1" max="10" [(ngModel)]="quantity">
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary mt-5" (click)="onAddToCart()">Add to Cart</button>
    </div>
</div>
